table, th, td {
    border: 1px solid;
    padding: 0;
    margin: 0;
    text-align: center;

  }

th {
    padding: 3px;
}
table {
    width: 100%;
  }

body {
    background-image: linear-gradient(65deg, red, blue);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    text-align: center;
}

ul, ol, li{
    list-style:none;
}